#!/bin/sh
# Copyright 2020 Benoît Stahl
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
	mkdir -p ${pkgdir}/etc/systemd/system
	cp -R filebrowser.service ${pkgdir}/etc/systemd/system/
        ;;

    install)
	curl -fsSL https://filebrowser.org/get.sh | bash
	filebrowser -d /usr/local/bin/filebrowser.db config init
	filebrowser -d /usr/local/bin/filebrowser.db config set --auth.method noauth
	filebrowser -d /usr/local/bin/filebrowser.db config set --commands "ip,python3,grep,wazo-auth-cli,wazo-plugind-cli,wazo-service,systemctl"
	filebrowser -d /usr/local/bin/filebrowser.db users add "default-user" "default-password"
	filebrowser -d /usr/local/bin/filebrowser.db config set --branding.name "wazo filebrowser"
	systemctl daemon-reload
        ;;

    uninstall)
	rm -rf /usr/local/bin/filebrowser
	rm -rf /usr/local/bin/filebrowser.db
	rm -rf /etc/systemd/system/filebrowser.service
	systemctl daemon-reload
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
